{
  "SECRET_KEY": "{{ secret_key }}",
  "ALLOWED_HOSTS": [
    "{{ main_domain }}"{% if other_domains %}, {% for domain in other_domains %}"{{ domain }}"{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}
  ],
  "CELERY_BROKER_URL": "amqp://{{ app_user }}:{{ broker_password }}@localhost:5672//",
  "DATABASES": {
    "default": {
      "ENGINE": "django.db.backends.postgresql",
      "NAME": "{{ db_name }}",
      "USER": "{{ db_username }}",
      "PASSWORD": "{{ db_password }}",
      "HOST": "/var/run/postgresql",
      "PORT": "{{ db_pool_port }}",
      "DISABLE_SERVER_SIDE_CURSORS": true
    }
  }
}