server {
    listen 80;
    listen [::]:80;

    root {{ app_webroot_path }};
    server_name {{ main_domain }}{% if other_domains %} {% for domain in other_domains %}{{domain}} {% endfor %}{% endif %};

    location /.well-known {
        alias {{ app_webroot_path }}/.well-known;
        default_type text/plain;
        allow all;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}