[DEFAULT]
banaction = ufw
bantime = 1h
findtime = 15m

[f2b-repeat2]
enabled = true
filter = f2b-repeat
bantime = 86400 ;1 day
findtime = 604800 ;1 week
logpath = /var/log/fail2ban.log
maxretry = 3

[f2b-repeat3]
enabled = true
filter = f2b-repeat
bantime	= 604800 ;1 week
findtime = 2592000 ;1 month
logpath = /var/log/fail2ban.log
maxretry = 3

[f2b-repeat4]
enabled = true
filter = f2b-repeat
bantime = 2592000 ;1 month
findtime = 15552000 ;6 months
logpath = /var/log/fail2ban.log
maxretry = 5

[sshd]
enabled = true
port = {{ ansible_ssh_port }}
maxretry = 3

[portscan]
enabled  = true
filter   = portscan
logpath  = /var/log/ufw.log
maxretry = 3
findtime = 30m