[Unit]
Description=Celery Beat Scheduler
After=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}

RuntimeDirectory=celery
EnvironmentFile=-/etc/default/celery

WorkingDirectory={{ app_path }}

ExecStart=/bin/sh -c '${CELERY_BIN} beat --pidfile=${CELERYBEAT_PID_FILE} --logfile=${CELERYBEAT_LOG_FILE}'

[Install]
WantedBy=multi-user.target
