[Unit]
Description=Gunicorn daemon
Before=nginx.service
After=network.target


[Service]
user={{ app_user }}
group={{ app_user }}

TRIONYX_CONFIG={{ app_path }}/environment.json

WorkingDirectory=/home/{{ app_user }}/application
ExecStart={{ app_environment_path }}/bin/gunicorn --name={{ app_user }} --pythonpath={{ app_path }} --bind unix:{{ app_socket }} --config /etc/gunicorn.d/gunicorn.py wsgi:application

Restart=always
SyslogIdentifier=gunicorn


[Install]
WantedBy=multi-user.target
